div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj9584 {
position: absolute;
overflow: hidden;
top: 887px;
left: 0px;
width: 1440px;
height: 72px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj9584_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 72px;
}
div#obj9519 {
position: absolute;
overflow: hidden;
top: 162px;
left: 126px;
width: 75px;
height: 74px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj9519_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 74px;
}
div#obj9534 {
position: absolute;
overflow: hidden;
top: 163px;
left: 756px;
width: 75px;
height: 74px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj9534_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 74px;
}
div#obj9546 {
position: absolute;
overflow: hidden;
top: 439px;
left: 126px;
width: 75px;
height: 74px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj9546_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 74px;
}
div#obj9558 {
position: absolute;
overflow: hidden;
top: 446px;
left: 757px;
width: 75px;
height: 74px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj9558_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 74px;
}
div#obj9571 {
position: absolute;
overflow: hidden;
top: 697px;
left: 418px;
width: 75px;
height: 74px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj9571_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75px;
	height: 74px;
}
div#obj9587 {
position: absolute;
overflow: hidden;
top: 615px;
left: 1007px;
width: 282px;
height: 269px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj9587_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 282px;
	height: 269px;
}
div#obj9590 {
position: absolute;
overflow: hidden;
top: 610px;
left: 89px;
width: 273px;
height: 269px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj9590_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 273px;
	height: 269px;
}
div#obj9593 {
position: absolute;
overflow: hidden;
top: 58px;
left: 1320px;
width: 85px;
height: 79px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj9593_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 85px;
	height: 79px;
}
div#obj10467 {
position: absolute;
overflow: hidden;
top: 893px;
left: 38px;
width: 57px;
height: 57px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;
-webkit-transform: rotate(-180deg);
-moz-transform: rotate(-180deg);
transform: rotate(-180deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(-7px -7px 5px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(-7px -7px 5px rgba(0,0,0,0.6078431));
}
img#obj10467_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57px;
	height: 57px;
}

div#obj9512 {
position: absolute;
overflow: hidden;
top: 95px;
left: 225px;
width: 441px;
height: 220px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 36px;
}

div#obj9512_content {

}
div#obj9536 {
position: absolute;
overflow: hidden;
top: 96px;
left: 855px;
width: 441px;
height: 220px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 36px;
}

div#obj9536_content {

}
div#obj9548 {
position: absolute;
overflow: hidden;
top: 372px;
left: 225px;
width: 441px;
height: 220px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 36px;
}

div#obj9548_content {

}
div#obj9560 {
position: absolute;
overflow: hidden;
top: 379px;
left: 856px;
width: 441px;
height: 220px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 36px;
}

div#obj9560_content {

}
div#obj9573 {
position: absolute;
overflow: hidden;
top: 630px;
left: 517px;
width: 441px;
height: 220px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 36px;
}

div#obj9573_content {

}



div#obj9510 {
position: absolute;
overflow: hidden;
top: 95px;
left: 114px;
width: 559px;
height: 220px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(7px 7px 5px #F0803C);
will-change: filter;
-webkit-filter: drop-shadow(7px 7px 5px #F0803C);
background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #F0803C;
background-repeat: repeat;
}
div#obj9522 {
position: absolute;
overflow: hidden;
top: 88px;
left: 106px;
width: 573px;
height: 230px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj9538 {
position: absolute;
overflow: hidden;
top: 96px;
left: 744px;
width: 559px;
height: 220px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(7px 7px 5px #FFD54C);
will-change: filter;
-webkit-filter: drop-shadow(7px 7px 5px #FFD54C);
background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #FFD54C;
background-repeat: repeat;
}
div#obj9529 {
position: absolute;
overflow: hidden;
top: 89px;
left: 736px;
width: 573px;
height: 230px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj9550 {
position: absolute;
overflow: hidden;
top: 372px;
left: 114px;
width: 559px;
height: 220px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(7px 7px 5px #558694);
will-change: filter;
-webkit-filter: drop-shadow(7px 7px 5px #558694);
background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #558694;
background-repeat: repeat;
}
div#obj9541 {
position: absolute;
overflow: hidden;
top: 365px;
left: 106px;
width: 573px;
height: 230px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj9562 {
position: absolute;
overflow: hidden;
top: 379px;
left: 745px;
width: 559px;
height: 220px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(7px 7px 5px #92C73F);
will-change: filter;
-webkit-filter: drop-shadow(7px 7px 5px #92C73F);
background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #92C73F;
background-repeat: repeat;
}
div#obj9553 {
position: absolute;
overflow: hidden;
top: 372px;
left: 737px;
width: 573px;
height: 230px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj9575 {
position: absolute;
overflow: hidden;
top: 630px;
left: 406px;
width: 559px;
height: 220px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(7px 7px 5px #EA9284);
will-change: filter;
-webkit-filter: drop-shadow(7px 7px 5px #EA9284);
background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
background-color: #EA9284;
background-repeat: repeat;
}
div#obj9577 {
position: absolute;
overflow: hidden;
top: 630px;
left: 399px;
width: 573px;
height: 230px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj9526 {
position: absolute;
overflow: hidden;
top: 49px;
left: 38px;
width: 1348px;
height: 818px;
opacity: 1;
z-index: 24;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj9742 {
position: absolute;
overflow: hidden;
top: 58px;
left: 1320px;
width: 91px;
height: 79px;
opacity: 1;
z-index: 25;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
