<?xml version="1.0" encoding="UTF-8"?><metadata><appName>Підприємництво і фінансова грамотність 8 клас</appName><facingPagesInLandscape>false</facingPagesInLandscape><lockOrientation>false</lockOrientation><restoreLatestPage>true</restoreLatestPage><backgroundColor>#EFEEE8</backgroundColor></metadata>